/* Gobal Styles */

body {
    background-color: rgb(66, 11, 11);
}

#container {
    width: 75%;
    margin: 0 auto;
    background-color: rgb(173, 143, 10);
    padding: 20px;
    border: 2px solid rgb(202, 100, 4);
}

a {
    color: white;
}

a:hover {
    color: rgb(173, 143, 10);
    text-decoration: none;
}

/* mobile Styles */

header {
    background-color: rgb(133, 33, 33);
    padding: 20px 0;
    text-align: center;
}

nav {
    background-color: rgb(133, 33, 33);
    text-align: center;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    padding: 15px 0px;
    border-top: 1px solid rgb(202, 100, 4);
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(202, 100, 4);
}

main {
    padding: 10px;
    margin: 10px;
}

main h2 {
    color: black;
    font-size: 40px;
    text-align: center;
}

main img {
    display: block;
    margin: 20px auto;
    border-radius: 20px;
    width: 60%;
}

footer {
    background-color: rgb(133, 33, 33);
    padding: 40px 0px;
    text-align: center;
    color: white;
}